<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>小型Vue.js</title>
</head>

<body>
    <!-- 视图挂载点 -->
    <div id="app"></div>

    <!-- 模板 -->
    <script id="container" type="text/template">
        <h1>{{title}}</h1>
        <table>
            <thead class="table_head" data-head-id="wahaha">
                <tr>
                    <th>姓名</th>
                    <th id="sort-head1" sortkey="age">年龄</th>
                    <th id="sort-head2" sortkey="reputation">声望</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in tableArray">
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.reputation}}</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li v-for="string in array">{{string}}</li>
        </ul>
    </script>
    
    <!-- 框架 -->
    <script src="./dist/dom-template.js"></script>
    <script>
        let VDom = window.VDom.default;
        let app = document.getElementById('app');
        let vm = new VDom({
            data: {
                title: 'Virtual DOM 测试',
                array: ['苹果', '西瓜', '香蕉'],
                tableArray: [{
                    name: 'AAAA',
                    age: 12,
                    reputation: 200
                }, {
                    name: 'DDDD',
                    age: 33,
                    reputation: 3000
                }, {
                    name: 'CCCC',
                    age: 21,
                    reputation: 99
                }, {
                    name: 'BBBB',
                    age: 20,
                    reputation: 20
                }, {
                    name: 'FFFF',
                    age: 49,
                    reputation: 521
                }]
            },
            template: document.getElementById('container').innerHTML
        });
        console.log('渲染函数：', vm._render);
        window.vm = vm;
    </script>
</body>

</html>